<h1>Less Actives</h1>

<p>Here is where the ward mission leader, ward missionaries, and ward
council can get an overview of priority less active members.</p>

<%= form_for :less_active, url: less_actives_path do |f| %>
<div class="row">
  <div class="span6">
    <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </p>
    
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </p>
    
    <p>
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </p>
    
    <p>
      <%= f.label :calling %><br>
      <%= f.text_field :calling %>
    </p>
  </div>
  <div class="span6">
    <p>
    <%= f.label :ordained %><br>
    <%= f.text_field :ordained %>
    </p>
    
    <p>
      <%= f.label :endowed %><br>
      <%= f.text_field :endowed %>
    </p>
    
    <p>
      <%= f.label :comments %><br>
      <%= f.text_area :comments, :class => "field span6", :rows => "10" %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>
  </div>
</div>
<% end %>
