<p>
  <strong>Name:</strong>
  <%= @less_active.first_name + ' ' + @less_active.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @less_active.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @less_active.phone %>
</p>

<p>
  <strong>Calling:</strong>
  <%= @less_active.calling %>
</p>

<p>
  <strong>Ordained?:</strong>
  <%= @less_active.ordained %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @less_active.comments %>
</p>

<%= link_to "Back to Less Actives", less_actives_path %>