<p>
  <strong>Name:</strong>
  <%= @convert.first_name + ' ' + @convert.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @convert.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @convert.phone %>
</p>

<p>
  <strong>Calling:</strong>
  <%= @convert.calling %>
</p>

<p>
  <strong>Ordained?:</strong>
  <%= @convert.ordained %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @convert.comments %>
</p>

<%= link_to "Back to Converts", converts_path %>