<!DOCTYPE html>
<html>
<head>
  <title>WardMissionApplication</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <ul class="nav nav-pills">
          <li><%= link_to "Home", root_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Bishopric <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Thing 1" %></li>
              <li><%= link_to "Thing 2" %></li>
              <li><%= link_to "Thing 3" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Ward Mission <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Converts", converts_path %></li>
              <li><%= link_to "Less Actives", less_actives_path %></li>
              <li><%= link_to "Investigators", investigators_path %></li>
              <hr>
              <li><a href="#">Blog</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Auxiliaries <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Relief Society", controller: "relief_society", action: "index" %></li>
              <li><%= link_to "High Priest Group", controller: "high_priest_group", action: "index" %></li>
              <li><%= link_to "Elders Quorum", controller: "elders_quorum", action: "index" %></li>
              <li><%= link_to "YW/YM", controller: "ywym", action: "index" %></li>
              <li><%= link_to "Primary", controller: "primary", action: "index" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    
    <%= yield %>
    <footer>
      
    </footer>
      
  </div>
  

</body>
</html>

<!-- Things to add:
patriarchal blessing to converts

--!>